@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Rooms</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px">
        <a href="/rooms/1">
            Войти <br />в комнату
        </a>
    </div>
</body>
</html>