@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Rooms</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px">
        <a href="/rooms/1">
            <img src="https://lh3.googleusercontent.com/proxy/WlvVTc5YlcDconJKr_cqwQpbM5QAlF8kL3Mtsn-zmK-8Z2hcd50yY4bwhi6jcW5EzqtFgfeC9Z4Ak_lQKRag4aFG9te_XWPhGE4Zhv6C-iOzMH3bMjX6A9I1-TejoL4Z_f37BFI5TCVGMmP9Fy6UlbAShXA7Cg" 
                 width="400" height="550" alt="Пример" title="Войти в комнаты">
            
        </a>
    </div>
</body>
</html>