@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Rooms</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px">
        <a href="/rooms/1">
            <img src="~/images/index/Door.jpg" 
                 width="450" height="450" alt="Войти в комнаты" title="Войти в комнаты">
            
        </a>
    </div>
</body>
</html>